body {
    background-color: #e9ecef; /* Slightly darker background */
    color: #343a40; /* Darker text color */
    scroll-behavior: smooth;
}


.action-list{
    padding:0;
    margin:0;
    list-style:none;
}

.action-list li {display:inline-block;}
.action-list li button
{
    height:28px;
    width:33px;
    padding:0;
    border-radius:0;
    transition: all 0.3s ease 0s;
}
.action-list li a:hover{ box-shadow: 0 0 5px #ddd; }


form {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Form labels and inputs */
label {
    font-weight: bold;
    color: #333;
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="text"]:focus, input[type="date"]:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Button styling */
button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    form {
        padding: 15px;
    }

    label {
        font-size: 14px;
    }

    button[type="submit"] {
        padding: 8px;
        font-size: 14px;
    }
}